body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'Cinzel', serif;
}

.contenedor {
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    margin-top: -5px;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    display: block;
    margin: auto;
    place-items: center;
    background-color: rgb(40, 40, 40);
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

canvas {
    border-radius: 30px;
    box-shadow: 0px 0px 50px 0px black;
    display: grid;
    margin: auto;
    place-items: center;
    background-image: url(assets/images/Background.png);
    margin-top: 30px;
    margin-bottom: 30px;
}
